rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {    
    match /users/{userID}/entries {
    	match /{document=**} {
      	allow read, write, delete: if request.auth.uid != null;
      }
    }
  }
}